* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bitcoin-orange : #F7931A;
    --soft-orange : #FFE9D5;
    --secondary-blue : #1A9AF7;
    --soft-blue : #E7F5FF;
    --warm-black : #201E1C;
    --Black : #282623;
    --grey : #BABABA;
    --off-white : #FAF8F7;
    --white : #FFFFFF;

}
/*
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;
*/
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 334px;
    min-width: 320px;
    width: 100%;    
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header figure img {
    margin-top: 81px;
    margin-bottom:  33px;
}
.header--title-content {
    margin-left: 16px;
    margin-right: 16px;
    min-width: 288px;
    max-width: 900px;
    text-align: center;
    align-self: center;
    width: 90%;
}
.header--title-content h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
}
.header--title-content p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header--title-content .header--button {
    position: absolute;
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--Black);
    left: calc(50% - 118px);
}
.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url(./assets/icons/down-arrow.svg);
}